{% load static %}
<div class="col-md-12">
  <div class="board">
    <div class="board-row" v-for="(rowCells, row) in user_board">
      <div class="board-cell" v-for="(cell, col) in rowCells"
        @click.left.prevent="cellClick(row, col, 'left')"
        @click.right.prevent="cellClick(row, col, 'right')"
      >
        <img v-if="status === 'pause' || cell === cellStatusUnknown" src="{% static "images/unknown.png" %}" />
        <img v-else-if="cell === cellStatusFlag" src="{% static "images/flag.png" %}" />
        <img v-else-if="cell === cellStatusMine" src="{% static "images/mine.png" %}" />
        <img v-else-if="cell === cellStatusExploded" src="{% static "images/exploded.png" %}" />
        <span v-else><b>${cell > 0 ? cell : '&nbsp;'}</b></span>
      </div>
    </div>
  </div>
  <p>Mines: ${ mines - flagCount }</p>
  <p>Time: ${ elapsedTime }</p>
  <p>Status: ${ status }</p>
  <button v-if="status === 'play'" class="btn btn-default" @click="pauseGame">Pause</button>
  <button v-if="status === 'pause'" class="btn btn-warning" @click="resumeGame">Resume</button>
  <button v-if="status === 'won' || status === 'lost'" class="btn btn-primary" @click="restartApp">New Game</button>
</div>