{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}
<div id="game">
  <div class="row" v-if="status == 'no-game'">
    {% include "games/_new_game_form.html" %}
  </div>
  <div class="row" v-if="status == 'playing'">
    {% include "games/_board.html" %}
  </div>
</div>
{% endblock %}

{% block endofbody %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
  axios.defaults.xsrfCookieName = 'csrftoken'
  axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

  new Vue({
    el: '#game',
    delimiters: ['${', '}'],
    data: {
      status: 'no-game',
      level: 'beg',
      width: 9,
      height: 9,
      mines: 10,
      board_id: null,
      board: [],
    },
    mounted: function () {
    },
    methods: {
      changeLevel: function () {
        switch (this.level) {
          case 'beg':
            this.width = 9
            this.height = 9
            this.mines = 10
            break;

          case 'int':
            this.width = 16
            this.height = 16
            this.mines = 40
            break;

          case 'exp':
            this.width = 30
            this.height = 16
            this.mines = 99
            break;
        }
      },
      newGame: function () {
        var that = this
        axios.post('/api/games/', {
          width: this.width,
          height: this.height,
          mines: this.mines
        })
        .then(function (response) {
            that.board = response.data.board
            that.game_id = response.data.id
            that.status = 'playing'
        })
        .catch(function (error) {
          console.log(error);
        });
      },
      cellClick: function (row, col, button) {
        console.log(row, col, button)
      },
    },
  });
</script>
{% endblock endofbody %}